*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);
  --fw-bold: 700;
  --fw-normal: 400;
  --clr: #b7c9e5;
  --font-clr: #333;
  --card-width: min(500px, 80%);
  --card-height: 70vh;
}

.body--index {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: var(--font-clr);
  font-family: "Oswald", sans-serif;
}

.flip-card {
  position: relative;
  width: var(--card-width);
  height: var(--card-height);
  -webkit-perspective: 2000px;
          perspective: 2000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip-card:hover .card-front {
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
}

.flip-card:hover .card-back {
  -webkit-transform: rotateY(1turn);
          transform: rotateY(1turn);
}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5);
}

.card-front {
  background: var(--clr);
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/fair.jpg);
  background-size: cover;
  background-blend-mode: overlay;
}

.card-front::before {
  --spacer: 1.2em;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  content: "";
  position: absolute;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 5px solid var(--font-clr);
  -webkit-transform: var(--level-one);
          transform: var(--level-one);
}

.card-back {
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
  color: var(--clr);
  background: #b7c9e5;
  background-image: url(../img/card.jpg);
  background-size: cover;
  background-blend-mode: overlay;
  background-position: -200px 0px;
}

.card__title {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  text-transform: uppercase;
  letter-spacing: 0.8px;
  -webkit-transform: var(--level-three);
          transform: var(--level-three);
  font-weight: var(--fw-bold);
  margin-top: 1em;
}

.card__subtitle {
  width: 80%;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  -webkit-transform: var(--level-two);
          transform: var(--level-two);
}

.card__sentence {
  text-transform: uppercase;
  font-size: clamp(1.2rem, 2vw, 2rem);
  -webkit-transform: var(--level-two);
          transform: var(--level-two);
  background-image: linear-gradient(45deg, #1f2932, #333);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 1.2px;
}

.card__btn {
  text-decoration: none;
  color: var(--font-clr);
  padding: 0.8em 4em;
  position: relative;
  margin-top: 3em;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(0.1rem);
          transform: translateZ(0.1rem);
  z-index: 1;
}

.card__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid var(--font-clr);
  -webkit-transform: var(--level-one);
          transform: var(--level-one);
}

.card__btn:hover .btn-deco2 {
  --spacer: 0.6em;
  width: 100%;
  opacity: 1;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.btn-deco {
  position: absolute;
  --spacer: 0.6em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 2px solid var(--font-clr);
  z-index: -1;
}

.btn-deco2 {
  position: absolute;
  --spacer: 0.6em;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 0;
  background: limegreen;
  opacity: 0;
}

.body--main {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

:root {
  --wtsap-icon: #2ca2ff;
  --wtsap-textbox: #2c2c2e;
  --wtsap-bg: #171717;
}

.time {
  color: red;
}

.profile-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

svg {
  cursor: pointer;
}

.svg-plus,
.svg-camera {
  cursor: pointer;
}

.whatsapp {
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.whatsapp-top {
  background: var(--wtsap-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em 1em;
}

.profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-pic {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  margin-right: 0.5em;
}

.profile-name {
  color: white;
}

.date {
  color: #868688;
}

#svg-previous {
  margin-right: 0.5em;
}

.svg-call {
  margin-left: 0.5em;
}

.whatsapp-main {
  background: url(../img/whatsapp/whatsappbg.jpg);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-size: cover;
  padding: 0.5em 1em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#svg-myText1,
#svg-myText2,
.whatsapp-img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#svg-forward {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#svg-myImg {
  margin-left: 1em;
}

.whatsapp-footer {
  background: var(--wtsap-bg);
  padding: 0.5em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.textBox {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 80px;
  margin: 0 1em;
  background: #2c2c2e;
}

.mic-svg {
  margin-left: 0.5em;
  overflow: initial;
}

.mic-svg:hover {
  -webkit-animation: rotate 1000ms linear both;
  animation: rotate 1000ms linear both;
}

.svg-plus:hover {
  -webkit-animation: rotateInfin 800ms linear infinite;
          animation: rotateInfin 800ms linear infinite;
}

.svg-camera:hover {
  -webkit-animation: jelly 1000ms linear both;
          animation: jelly 1000ms linear both;
}

#micHead {
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes rotateInfin {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotateInfin {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.2% {
    -webkit-transform: matrix3d(-0.834, 0.559, 0, 0, -0.703, -0.717, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.834, 0.559, 0, 0, -0.703, -0.717, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.3% {
    -webkit-transform: matrix3d(-0.986, -0.196, 0, 0, -0.017, -1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.986, -0.196, 0, 0, -0.017, -1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.41% {
    -webkit-transform: matrix3d(-0.091, -1.003, 0, 0, 0.955, -0.318, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.091, -1.003, 0, 0, 0.955, -0.318, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  8.61% {
    -webkit-transform: matrix3d(0.798, -0.613, 0, 0, 0.769, 0.648, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.798, -0.613, 0, 0, 0.769, 0.648, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.71% {
    -webkit-transform: matrix3d(0.933, 0.366, 0, 0, -0.224, 0.977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.933, 0.366, 0, 0, -0.224, 0.977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.91% {
    -webkit-transform: matrix3d(0.923, 0.391, 0, 0, -0.254, 0.97, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.923, 0.391, 0, 0, -0.254, 0.97, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.22% {
    -webkit-transform: matrix3d(0.813, 0.583, 0, 0, -0.524, 0.853, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.813, 0.583, 0, 0, -0.524, 0.853, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.92% {
    -webkit-transform: matrix3d(0.834, 0.552, 0, 0, -0.511, 0.86, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.834, 0.552, 0, 0, -0.511, 0.86, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.23% {
    -webkit-transform: matrix3d(0.965, 0.262, 0, 0, -0.262, 0.965, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.965, 0.262, 0, 0, -0.262, 0.965, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  28.33% {
    -webkit-transform: matrix3d(0.992, 0.125, 0, 0, -0.134, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.992, 0.125, 0, 0, -0.134, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  31.43% {
    -webkit-transform: matrix3d(1, 0.031, 0, 0, -0.042, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.031, 0, 0, -0.042, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  39.44% {
    -webkit-transform: matrix3d(0.999, -0.042, 0, 0, 0.036, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.999, -0.042, 0, 0, 0.036, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  56.46% {
    -webkit-transform: matrix3d(1, 0.001, 0, 0, -0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.001, 0, 0, -0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  61.66% {
    -webkit-transform: matrix3d(1, 0.003, 0, 0, -0.002, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.003, 0, 0, -0.002, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  81.48% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  83.98% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

.animation-target {
  -webkit-animation: jelly 1000ms linear infinite both;
          animation: jelly 1000ms linear infinite both;
}

@-webkit-keyframes jelly {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.4% {
    -webkit-transform: matrix3d(1.126, 0, 0, 0, 0, 1.163, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.126, 0, 0, 0, 0, 1.163, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    -webkit-transform: matrix3d(1.18, 0, 0, 0, 0, 1.24, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.18, 0, 0, 0, 0, 1.24, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.81% {
    -webkit-transform: matrix3d(1.264, 0, 0, 0, 0, 1.357, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.264, 0, 0, 0, 0, 1.357, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    -webkit-transform: matrix3d(1.353, 0, 0, 0, 0, 1.467, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.353, 0, 0, 0, 0, 1.467, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  10.21% {
    -webkit-transform: matrix3d(1.377, 0, 0, 0, 0, 1.491, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.377, 0, 0, 0, 0, 1.491, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  13.61% {
    -webkit-transform: matrix3d(1.449, 0, 0, 0, 0, 1.533, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.449, 0, 0, 0, 0, 1.533, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    -webkit-transform: matrix3d(1.456, 0, 0, 0, 0, 1.532, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.456, 0, 0, 0, 0, 1.532, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.52% {
    -webkit-transform: matrix3d(1.483, 0, 0, 0, 0, 1.496, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.483, 0, 0, 0, 0, 1.496, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    -webkit-transform: matrix3d(1.485, 0, 0, 0, 0, 1.475, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.485, 0, 0, 0, 0, 1.475, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  21.32% {
    -webkit-transform: matrix3d(1.478, 0, 0, 0, 0, 1.428, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.478, 0, 0, 0, 0, 1.428, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    -webkit-transform: matrix3d(1.46, 0, 0, 0, 0, 1.384, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.46, 0, 0, 0, 0, 1.384, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.23% {
    -webkit-transform: matrix3d(1.454, 0, 0, 0, 0, 1.375, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.454, 0, 0, 0, 0, 1.375, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.03% {
    -webkit-transform: matrix3d(1.425, 0, 0, 0, 0, 1.359, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.425, 0, 0, 0, 0, 1.359, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    -webkit-transform: matrix3d(1.419, 0, 0, 0, 0, 1.359, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.419, 0, 0, 0, 0, 1.359, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    -webkit-transform: matrix3d(1.392, 0, 0, 0, 0, 1.385, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.392, 0, 0, 0, 0, 1.385, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  36.74% {
    -webkit-transform: matrix3d(1.389, 0, 0, 0, 0, 1.392, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.389, 0, 0, 0, 0, 1.392, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    -webkit-transform: matrix3d(1.384, 0, 0, 0, 0, 1.409, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.384, 0, 0, 0, 0, 1.409, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  44.44% {
    -webkit-transform: matrix3d(1.386, 0, 0, 0, 0, 1.413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.386, 0, 0, 0, 0, 1.413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    -webkit-transform: matrix3d(1.396, 0, 0, 0, 0, 1.403, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.396, 0, 0, 0, 0, 1.403, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  59.86% {
    -webkit-transform: matrix3d(1.402, 0, 0, 0, 0, 1.396, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.402, 0, 0, 0, 0, 1.396, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    -webkit-transform: matrix3d(1.403, 0, 0, 0, 0, 1.397, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.403, 0, 0, 0, 0, 1.397, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  75.28% {
    -webkit-transform: matrix3d(1.4, 0, 0, 0, 0, 1.401, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.4, 0, 0, 0, 0, 1.401, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    -webkit-transform: matrix3d(1.399, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.399, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  90.69% {
    -webkit-transform: matrix3d(1.4, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.4, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1.4, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.4, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes jelly {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.4% {
    -webkit-transform: matrix3d(1.126, 0, 0, 0, 0, 1.163, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.126, 0, 0, 0, 0, 1.163, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    -webkit-transform: matrix3d(1.18, 0, 0, 0, 0, 1.24, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.18, 0, 0, 0, 0, 1.24, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.81% {
    -webkit-transform: matrix3d(1.264, 0, 0, 0, 0, 1.357, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.264, 0, 0, 0, 0, 1.357, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    -webkit-transform: matrix3d(1.353, 0, 0, 0, 0, 1.467, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.353, 0, 0, 0, 0, 1.467, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  10.21% {
    -webkit-transform: matrix3d(1.377, 0, 0, 0, 0, 1.491, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.377, 0, 0, 0, 0, 1.491, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  13.61% {
    -webkit-transform: matrix3d(1.449, 0, 0, 0, 0, 1.533, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.449, 0, 0, 0, 0, 1.533, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    -webkit-transform: matrix3d(1.456, 0, 0, 0, 0, 1.532, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.456, 0, 0, 0, 0, 1.532, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.52% {
    -webkit-transform: matrix3d(1.483, 0, 0, 0, 0, 1.496, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.483, 0, 0, 0, 0, 1.496, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    -webkit-transform: matrix3d(1.485, 0, 0, 0, 0, 1.475, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.485, 0, 0, 0, 0, 1.475, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  21.32% {
    -webkit-transform: matrix3d(1.478, 0, 0, 0, 0, 1.428, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.478, 0, 0, 0, 0, 1.428, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    -webkit-transform: matrix3d(1.46, 0, 0, 0, 0, 1.384, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.46, 0, 0, 0, 0, 1.384, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.23% {
    -webkit-transform: matrix3d(1.454, 0, 0, 0, 0, 1.375, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.454, 0, 0, 0, 0, 1.375, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.03% {
    -webkit-transform: matrix3d(1.425, 0, 0, 0, 0, 1.359, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.425, 0, 0, 0, 0, 1.359, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    -webkit-transform: matrix3d(1.419, 0, 0, 0, 0, 1.359, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.419, 0, 0, 0, 0, 1.359, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    -webkit-transform: matrix3d(1.392, 0, 0, 0, 0, 1.385, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.392, 0, 0, 0, 0, 1.385, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  36.74% {
    -webkit-transform: matrix3d(1.389, 0, 0, 0, 0, 1.392, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.389, 0, 0, 0, 0, 1.392, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    -webkit-transform: matrix3d(1.384, 0, 0, 0, 0, 1.409, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.384, 0, 0, 0, 0, 1.409, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  44.44% {
    -webkit-transform: matrix3d(1.386, 0, 0, 0, 0, 1.413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.386, 0, 0, 0, 0, 1.413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    -webkit-transform: matrix3d(1.396, 0, 0, 0, 0, 1.403, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.396, 0, 0, 0, 0, 1.403, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  59.86% {
    -webkit-transform: matrix3d(1.402, 0, 0, 0, 0, 1.396, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.402, 0, 0, 0, 0, 1.396, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    -webkit-transform: matrix3d(1.403, 0, 0, 0, 0, 1.397, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.403, 0, 0, 0, 0, 1.397, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  75.28% {
    -webkit-transform: matrix3d(1.4, 0, 0, 0, 0, 1.401, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.4, 0, 0, 0, 0, 1.401, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    -webkit-transform: matrix3d(1.399, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.399, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  90.69% {
    -webkit-transform: matrix3d(1.4, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.4, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1.4, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.4, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
/*# sourceMappingURL=mix.css.map */