*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);
  --fw-bold: 700;
  --fw-normal: 400;
  --clr: #b7c9e5;
  --font-clr: #333;
  --card-width: min(500px, 80%);
  --card-height: 70vh;
}

.body--index {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: var(--font-clr);
  font-family: "Oswald", sans-serif;
}

.flip-card {
  position: relative;
  width: var(--card-width);
  height: var(--card-height);
  -webkit-perspective: 2000px;
          perspective: 2000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip-card:hover .card-front {
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
}

.flip-card:hover .card-back {
  -webkit-transform: rotateY(1turn);
          transform: rotateY(1turn);
}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.5);
}

.card-front {
  background: var(--clr);
  background-image: url(../img/IMG-20190106-WA0082.jpg);
  background-size: cover;
  background-position: 70% 100%;
  background-blend-mode: overlay;
}

.card-front::before {
  --spacer: 1.2em;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  content: "";
  position: absolute;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 5px solid var(--font-clr);
  -webkit-transform: var(--level-one);
          transform: var(--level-one);
}

.card-back {
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
  color: var(--clr);
  background: #b7c9e5;
  background-image: url(../img/card.jpg);
  background-size: cover;
  background-blend-mode: overlay;
  background-position: -200px 0px;
}

.card__title {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  text-transform: uppercase;
  letter-spacing: 0.8px;
  -webkit-transform: var(--level-three);
          transform: var(--level-three);
  font-weight: var(--fw-bold);
  margin-top: 1em;
}

.card__subtitle {
  width: 80%;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  -webkit-transform: var(--level-two);
          transform: var(--level-two);
}

.card__sentence {
  text-transform: uppercase;
  font-size: clamp(1.2rem, 2vw, 2rem);
  -webkit-transform: var(--level-two);
          transform: var(--level-two);
  background-image: linear-gradient(45deg, #1f2932, #333);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 1.2px;
}

.card__btn {
  text-decoration: none;
  color: var(--font-clr);
  padding: 0.8em 4em;
  position: relative;
  margin-top: 3em;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(0.1rem);
          transform: translateZ(0.1rem);
  z-index: 1;
}

.card__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid var(--font-clr);
  -webkit-transform: var(--level-one);
          transform: var(--level-one);
}

.card__btn:hover .btn-deco2 {
  --spacer: 0.6em;
  width: 100%;
  opacity: 1;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.btn-deco {
  position: absolute;
  --spacer: 0.6em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 2px solid var(--font-clr);
  z-index: -1;
}

.btn-deco2 {
  position: absolute;
  --spacer: 0.6em;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 0;
  background: limegreen;
  opacity: 0;
}

.body--main {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

:root {
  --wtsap-icon: #2ca2ff;
  --wtsap-textbox: #2c2c2e;
  --wtsap-bg: #171717;
}

.time {
  color: red;
}

.profile-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

svg {
  cursor: pointer;
}

.svg-plus,
.svg-camera {
  cursor: pointer;
}

.whatsapp {
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.whatsapp-top {
  background: var(--wtsap-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em 1em;
}

.profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-pic {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  margin-right: 0.5em;
}

.profile-name {
  color: white;
}

.date {
  color: #868688;
}

#svg-previous {
  margin-right: 0.5em;
}

.svg-call {
  margin-left: 0.5em;
}

.whatsapp-main {
  background: url(../img/whatsapp/whatsappbg.jpg);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-size: cover;
  padding: 0.5em 1em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#svg-myText1,
#svg-myText2,
.whatsapp-img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#svg-forward {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#svg-myImg {
  margin-left: 1em;
}

.whatsapp-footer {
  background: var(--wtsap-bg);
  padding: 0.5em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.textBox {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 80px;
  margin: 0 1em;
  padding-left: 0.5em;
  padding-top: 0.2em;
  background: #2c2c2e;
}

.textBox > .secret-textBox.active {
  -webkit-animation: typeText 0.5s steps(25, end) forwards, blink-caret 0.5s step-start infinite;
          animation: typeText 0.5s steps(25, end) forwards, blink-caret 0.5s step-start infinite;
}

@-webkit-keyframes typeText {
  from {
    width: 0;
  }
  to {
    width: 3.4em;
  }
}

@keyframes typeText {
  from {
    width: 0;
  }
  to {
    width: 3.4em;
  }
}

@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
    opacity: 1;
  }
  50% {
    border-color: black;
    opacity: 1;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
    opacity: 1;
  }
  50% {
    border-color: black;
    opacity: 1;
  }
}

.secret-textBox {
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid black;
  opacity: 0;
}

.secret-text {
  font-size: 1rem;
  letter-spacing: 0.05em;
  color: white;
}

.mic-svg {
  margin-left: 0.5em;
  overflow: initial;
}

.mic-svg.active {
  -webkit-animation: rotate 1000ms linear both;
  animation: rotate 1000ms linear both;
}

.svg-plus.active {
  -webkit-animation: rotateInfin 800ms linear infinite;
          animation: rotateInfin 800ms linear infinite;
}

.svg-camera.active {
  -webkit-animation: jelly 2000ms linear both;
          animation: jelly 2000ms linear both;
}

.svg-video.active {
  -webkit-animation: bounce 2000ms linear infinite both;
          animation: bounce 2000ms linear infinite both;
}

.svg-call.active {
  -webkit-animation: vibrate 100ms linear infinite both;
          animation: vibrate 100ms linear infinite both;
}

.tranDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.pageTranDiv {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  background: #fab7b7;
  width: 20%;
}

.pageTranDiv:nth-of-type(1) {
  left: 0;
}

.pageTranDiv:nth-of-type(2) {
  left: 20;
}

.pageTranDiv:nth-of-type(3) {
  left: 40;
}

.pageTranDiv:nth-of-type(4) {
  left: 60;
}

.pageTranDiv:nth-of-type(5) {
  left: 80;
}

@-webkit-keyframes rotateInfin {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotateInfin {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.2% {
    -webkit-transform: matrix3d(-0.834, 0.559, 0, 0, -0.703, -0.717, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.834, 0.559, 0, 0, -0.703, -0.717, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.3% {
    -webkit-transform: matrix3d(-0.986, -0.196, 0, 0, -0.017, -1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.986, -0.196, 0, 0, -0.017, -1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.41% {
    -webkit-transform: matrix3d(-0.091, -1.003, 0, 0, 0.955, -0.318, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(-0.091, -1.003, 0, 0, 0.955, -0.318, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  8.61% {
    -webkit-transform: matrix3d(0.798, -0.613, 0, 0, 0.769, 0.648, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.798, -0.613, 0, 0, 0.769, 0.648, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.71% {
    -webkit-transform: matrix3d(0.933, 0.366, 0, 0, -0.224, 0.977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.933, 0.366, 0, 0, -0.224, 0.977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.91% {
    -webkit-transform: matrix3d(0.923, 0.391, 0, 0, -0.254, 0.97, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.923, 0.391, 0, 0, -0.254, 0.97, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.22% {
    -webkit-transform: matrix3d(0.813, 0.583, 0, 0, -0.524, 0.853, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.813, 0.583, 0, 0, -0.524, 0.853, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.92% {
    -webkit-transform: matrix3d(0.834, 0.552, 0, 0, -0.511, 0.86, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.834, 0.552, 0, 0, -0.511, 0.86, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.23% {
    -webkit-transform: matrix3d(0.965, 0.262, 0, 0, -0.262, 0.965, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.965, 0.262, 0, 0, -0.262, 0.965, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  28.33% {
    -webkit-transform: matrix3d(0.992, 0.125, 0, 0, -0.134, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.992, 0.125, 0, 0, -0.134, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  31.43% {
    -webkit-transform: matrix3d(1, 0.031, 0, 0, -0.042, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.031, 0, 0, -0.042, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  39.44% {
    -webkit-transform: matrix3d(0.999, -0.042, 0, 0, 0.036, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.999, -0.042, 0, 0, 0.036, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  56.46% {
    -webkit-transform: matrix3d(1, 0.001, 0, 0, -0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.001, 0, 0, -0.001, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  61.66% {
    -webkit-transform: matrix3d(1, 0.003, 0, 0, -0.002, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0.003, 0, 0, -0.002, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  81.48% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  83.98% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@-webkit-keyframes jelly {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  1.7% {
    -webkit-transform: matrix3d(1.126, 0, 0, 0, 0, 1.163, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.126, 0, 0, 0, 0, 1.163, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  2.35% {
    -webkit-transform: matrix3d(1.18, 0, 0, 0, 0, 1.24, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.18, 0, 0, 0, 0, 1.24, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.4% {
    -webkit-transform: matrix3d(1.264, 0, 0, 0, 0, 1.357, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.264, 0, 0, 0, 0, 1.357, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    -webkit-transform: matrix3d(1.353, 0, 0, 0, 0, 1.467, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.353, 0, 0, 0, 0, 1.467, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  5.11% {
    -webkit-transform: matrix3d(1.377, 0, 0, 0, 0, 1.491, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.377, 0, 0, 0, 0, 1.491, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.81% {
    -webkit-transform: matrix3d(1.449, 0, 0, 0, 0, 1.533, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.449, 0, 0, 0, 0, 1.533, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  7.06% {
    -webkit-transform: matrix3d(1.456, 0, 0, 0, 0, 1.532, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.456, 0, 0, 0, 0, 1.532, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  8.76% {
    -webkit-transform: matrix3d(1.483, 0, 0, 0, 0, 1.496, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.483, 0, 0, 0, 0, 1.496, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.36% {
    -webkit-transform: matrix3d(1.485, 0, 0, 0, 0, 1.475, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.485, 0, 0, 0, 0, 1.475, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  10.66% {
    -webkit-transform: matrix3d(1.478, 0, 0, 0, 0, 1.428, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.478, 0, 0, 0, 0, 1.428, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.16% {
    -webkit-transform: matrix3d(1.46, 0, 0, 0, 0, 1.384, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.46, 0, 0, 0, 0, 1.384, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.61% {
    -webkit-transform: matrix3d(1.454, 0, 0, 0, 0, 1.375, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.454, 0, 0, 0, 0, 1.375, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.51% {
    -webkit-transform: matrix3d(1.425, 0, 0, 0, 0, 1.359, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.425, 0, 0, 0, 0, 1.359, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.96% {
    -webkit-transform: matrix3d(1.419, 0, 0, 0, 0, 1.359, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.419, 0, 0, 0, 0, 1.359, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.77% {
    -webkit-transform: matrix3d(1.392, 0, 0, 0, 0, 1.385, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.392, 0, 0, 0, 0, 1.385, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.37% {
    -webkit-transform: matrix3d(1.389, 0, 0, 0, 0, 1.392, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.389, 0, 0, 0, 0, 1.392, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  20.52% {
    -webkit-transform: matrix3d(1.384, 0, 0, 0, 0, 1.409, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.384, 0, 0, 0, 0, 1.409, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  22.22% {
    -webkit-transform: matrix3d(1.386, 0, 0, 0, 0, 1.413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.386, 0, 0, 0, 0, 1.413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  26.08% {
    -webkit-transform: matrix3d(1.396, 0, 0, 0, 0, 1.403, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.396, 0, 0, 0, 0, 1.403, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    -webkit-transform: matrix3d(1.402, 0, 0, 0, 0, 1.396, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.402, 0, 0, 0, 0, 1.396, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  31.63% {
    -webkit-transform: matrix3d(1.403, 0, 0, 0, 0, 1.397, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.403, 0, 0, 0, 0, 1.397, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  37.64% {
    -webkit-transform: matrix3d(1.4, 0, 0, 0, 0, 1.401, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.4, 0, 0, 0, 0, 1.401, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  42.74% {
    -webkit-transform: matrix3d(1.399, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.399, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  45.35% {
    -webkit-transform: matrix3d(1.4, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.4, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  49.9% {
    -webkit-transform: matrix3d(1.4, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.4, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  50% {
    -webkit-transform: matrix3d(1.4, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.4, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.55% {
    -webkit-transform: matrix3d(1.026, 0, 0, 0, 0, 1.026, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.026, 0, 0, 0, 0, 1.026, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  53.85% {
    -webkit-transform: matrix3d(0.903, 0, 0, 0, 0, 0.903, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.903, 0, 0, 0, 0, 0.903, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  55.11% {
    -webkit-transform: matrix3d(0.869, 0, 0, 0, 0, 0.869, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.869, 0, 0, 0, 0, 0.869, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  56.61% {
    -webkit-transform: matrix3d(0.902, 0, 0, 0, 0, 0.902, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.902, 0, 0, 0, 0, 0.902, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  58.06% {
    -webkit-transform: matrix3d(0.957, 0, 0, 0, 0, 0.957, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.957, 0, 0, 0, 0, 0.957, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  59.51% {
    -webkit-transform: matrix3d(0.995, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.995, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  60.96% {
    -webkit-transform: matrix3d(1.006, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.006, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  66.87% {
    -webkit-transform: matrix3d(0.974, 0, 0, 0, 0, 0.974, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.974, 0, 0, 0, 0, 0.974, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  72.77% {
    -webkit-transform: matrix3d(0.982, 0, 0, 0, 0, 0.982, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.982, 0, 0, 0, 0, 0.982, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  78.63% {
    -webkit-transform: matrix3d(0.98, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.98, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  84.53% {
    -webkit-transform: matrix3d(0.98, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.98, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  90.44% {
    -webkit-transform: matrix3d(0.98, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.98, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  96.3% {
    -webkit-transform: matrix3d(0.98, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.98, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(0.98, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.98, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes jelly {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  1.7% {
    -webkit-transform: matrix3d(1.126, 0, 0, 0, 0, 1.163, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.126, 0, 0, 0, 0, 1.163, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  2.35% {
    -webkit-transform: matrix3d(1.18, 0, 0, 0, 0, 1.24, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.18, 0, 0, 0, 0, 1.24, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.4% {
    -webkit-transform: matrix3d(1.264, 0, 0, 0, 0, 1.357, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.264, 0, 0, 0, 0, 1.357, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    -webkit-transform: matrix3d(1.353, 0, 0, 0, 0, 1.467, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.353, 0, 0, 0, 0, 1.467, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  5.11% {
    -webkit-transform: matrix3d(1.377, 0, 0, 0, 0, 1.491, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.377, 0, 0, 0, 0, 1.491, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.81% {
    -webkit-transform: matrix3d(1.449, 0, 0, 0, 0, 1.533, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.449, 0, 0, 0, 0, 1.533, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  7.06% {
    -webkit-transform: matrix3d(1.456, 0, 0, 0, 0, 1.532, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.456, 0, 0, 0, 0, 1.532, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  8.76% {
    -webkit-transform: matrix3d(1.483, 0, 0, 0, 0, 1.496, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.483, 0, 0, 0, 0, 1.496, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.36% {
    -webkit-transform: matrix3d(1.485, 0, 0, 0, 0, 1.475, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.485, 0, 0, 0, 0, 1.475, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  10.66% {
    -webkit-transform: matrix3d(1.478, 0, 0, 0, 0, 1.428, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.478, 0, 0, 0, 0, 1.428, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.16% {
    -webkit-transform: matrix3d(1.46, 0, 0, 0, 0, 1.384, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.46, 0, 0, 0, 0, 1.384, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.61% {
    -webkit-transform: matrix3d(1.454, 0, 0, 0, 0, 1.375, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.454, 0, 0, 0, 0, 1.375, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.51% {
    -webkit-transform: matrix3d(1.425, 0, 0, 0, 0, 1.359, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.425, 0, 0, 0, 0, 1.359, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.96% {
    -webkit-transform: matrix3d(1.419, 0, 0, 0, 0, 1.359, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.419, 0, 0, 0, 0, 1.359, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.77% {
    -webkit-transform: matrix3d(1.392, 0, 0, 0, 0, 1.385, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.392, 0, 0, 0, 0, 1.385, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.37% {
    -webkit-transform: matrix3d(1.389, 0, 0, 0, 0, 1.392, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.389, 0, 0, 0, 0, 1.392, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  20.52% {
    -webkit-transform: matrix3d(1.384, 0, 0, 0, 0, 1.409, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.384, 0, 0, 0, 0, 1.409, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  22.22% {
    -webkit-transform: matrix3d(1.386, 0, 0, 0, 0, 1.413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.386, 0, 0, 0, 0, 1.413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  26.08% {
    -webkit-transform: matrix3d(1.396, 0, 0, 0, 0, 1.403, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.396, 0, 0, 0, 0, 1.403, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    -webkit-transform: matrix3d(1.402, 0, 0, 0, 0, 1.396, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.402, 0, 0, 0, 0, 1.396, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  31.63% {
    -webkit-transform: matrix3d(1.403, 0, 0, 0, 0, 1.397, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.403, 0, 0, 0, 0, 1.397, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  37.64% {
    -webkit-transform: matrix3d(1.4, 0, 0, 0, 0, 1.401, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.4, 0, 0, 0, 0, 1.401, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  42.74% {
    -webkit-transform: matrix3d(1.399, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.399, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  45.35% {
    -webkit-transform: matrix3d(1.4, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.4, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  49.9% {
    -webkit-transform: matrix3d(1.4, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.4, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  50% {
    -webkit-transform: matrix3d(1.4, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.4, 0, 0, 0, 0, 1.4, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.55% {
    -webkit-transform: matrix3d(1.026, 0, 0, 0, 0, 1.026, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.026, 0, 0, 0, 0, 1.026, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  53.85% {
    -webkit-transform: matrix3d(0.903, 0, 0, 0, 0, 0.903, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.903, 0, 0, 0, 0, 0.903, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  55.11% {
    -webkit-transform: matrix3d(0.869, 0, 0, 0, 0, 0.869, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.869, 0, 0, 0, 0, 0.869, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  56.61% {
    -webkit-transform: matrix3d(0.902, 0, 0, 0, 0, 0.902, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.902, 0, 0, 0, 0, 0.902, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  58.06% {
    -webkit-transform: matrix3d(0.957, 0, 0, 0, 0, 0.957, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.957, 0, 0, 0, 0, 0.957, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  59.51% {
    -webkit-transform: matrix3d(0.995, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.995, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  60.96% {
    -webkit-transform: matrix3d(1.006, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.006, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  66.87% {
    -webkit-transform: matrix3d(0.974, 0, 0, 0, 0, 0.974, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.974, 0, 0, 0, 0, 0.974, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  72.77% {
    -webkit-transform: matrix3d(0.982, 0, 0, 0, 0, 0.982, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.982, 0, 0, 0, 0, 0.982, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  78.63% {
    -webkit-transform: matrix3d(0.98, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.98, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  84.53% {
    -webkit-transform: matrix3d(0.98, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.98, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  90.44% {
    -webkit-transform: matrix3d(0.98, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.98, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  96.3% {
    -webkit-transform: matrix3d(0.98, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.98, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(0.98, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.98, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

/* Generated with Bounce.js. Edit at http://bouncejs.com#%7Bl%3A1%2Cs%3A%5B%7BT%3A%22r%22%2Ce%3A%22b%22%2Cd%3A1000%2CD%3A500%2Cf%3A0%2Ct%3A90%2Cs%3A3%2Cb%3A4%7D%2C%7BT%3A%22c%22%2Ce%3A%22B%22%2Cd%3A1000%2CD%3A0%2Cf%3A%7Bx%3A1%2Cy%3A1%7D%2Ct%3A%7Bx%3A0.2%2Cy%3A2%7D%2Cs%3A3%2Cb%3A4%7D%2C%7BT%3A%22c%22%2Ce%3A%22b%22%2Cd%3A1000%2CD%3A1000%2Cf%3A%7Bx%3A1%2Cy%3A1%7D%2Ct%3A%7Bx%3A5%2Cy%3A0.5%7D%2Cs%3A3%2Cb%3A4%7D%5D%7D */
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  2.8% {
    -webkit-transform: matrix3d(0.484, 0, 0, 0, 0, 1.645, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.484, 0, 0, 0, 0, 1.645, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.2% {
    -webkit-transform: matrix3d(0.307, 0, 0, 0, 0, 1.866, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.307, 0, 0, 0, 0, 1.866, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  5.56% {
    -webkit-transform: matrix3d(0.2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  7.11% {
    -webkit-transform: matrix3d(0.26, 0, 0, 0, 0, 1.925, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.26, 0, 0, 0, 0, 1.925, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  8.61% {
    -webkit-transform: matrix3d(0.275, 0, 0, 0, 0, 1.907, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.275, 0, 0, 0, 0, 1.907, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  16.67% {
    -webkit-transform: matrix3d(0.2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  19.72% {
    -webkit-transform: matrix3d(0.205, 0, 0, 0, 0, 1.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.205, 0, 0, 0, 0, 1.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.9% {
    -webkit-transform: matrix3d(0.201, 0, 0, 0, 0, 1.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.201, 0, 0, 0, 0, 1.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25% {
    -webkit-transform: matrix3d(0.201, 0, 0, 0, 0, 1.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.201, 0, 0, 0, 0, 1.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  27.15% {
    -webkit-transform: matrix3d(0.138, 0.145, 0, 0, -1.445, 1.382, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.138, 0.145, 0, 0, -1.445, 1.382, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  27.83% {
    -webkit-transform: matrix3d(0.105, 0.171, 0, 0, -1.705, 1.045, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.105, 0.171, 0, 0, -1.705, 1.045, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.3% {
    -webkit-transform: matrix3d(0.038, 0.197, 0, 0, -1.963, 0.379, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.038, 0.197, 0, 0, -1.963, 0.379, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  30.83% {
    -webkit-transform: matrix3d(-0.006, 0.2, 0, 0, -1.999, -0.059, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(-0.006, 0.2, 0, 0, -1.999, -0.059, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  31.46% {
    -webkit-transform: matrix3d(-0.016, 0.2, 0, 0, -1.993, -0.164, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(-0.016, 0.2, 0, 0, -1.993, -0.164, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  33.61% {
    -webkit-transform: matrix3d(-0.029, 0.198, 0, 0, -1.978, -0.292, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(-0.029, 0.198, 0, 0, -1.978, -0.292, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  38.94% {
    -webkit-transform: matrix3d(-0.007, 0.2, 0, 0, -1.999, -0.073, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(-0.007, 0.2, 0, 0, -1.999, -0.073, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  39.16% {
    -webkit-transform: matrix3d(-0.006, 0.2, 0, 0, -1.999, -0.065, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(-0.006, 0.2, 0, 0, -1.999, -0.065, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.99% {
    -webkit-transform: matrix3d(0, 0.2, 0, 0, -2, 0.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 0.2, 0, 0, -2, 0.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  44.72% {
    -webkit-transform: matrix3d(0.002, 0.2, 0, 0, -2, 0.02, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.002, 0.2, 0, 0, -2, 0.02, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  49.9% {
    -webkit-transform: matrix3d(0.001, 0.2, 0, 0, -2, 0.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.001, 0.2, 0, 0, -2, 0.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  50% {
    -webkit-transform: matrix3d(0.001, 0.2, 0, 0, -2, 0.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.001, 0.2, 0, 0, -2, 0.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    -webkit-transform: matrix3d(0, 0.611, 0, 0, -1.486, 0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 0.611, 0, 0, -1.486, 0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  54.3% {
    -webkit-transform: matrix3d(0, 0.903, 0, 0, -1.121, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 0.903, 0, 0, -1.121, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  55.83% {
    -webkit-transform: matrix3d(-0.001, 1.015, 0, 0, -0.981, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(-0.001, 1.015, 0, 0, -0.981, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  56.46% {
    -webkit-transform: matrix3d(-0.001, 1.042, 0, 0, -0.948, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(-0.001, 1.042, 0, 0, -0.948, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  58.61% {
    -webkit-transform: matrix3d(0, 1.075, 0, 0, -0.907, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 1.075, 0, 0, -0.907, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  64.16% {
    -webkit-transform: matrix3d(0, 1.017, 0, 0, -0.979, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 1.017, 0, 0, -0.979, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  66.99% {
    -webkit-transform: matrix3d(0, 0.999, 0, 0, -1.001, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 0.999, 0, 0, -1.001, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  69.72% {
    -webkit-transform: matrix3d(0, 0.995, 0, 0, -1.006, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 0.995, 0, 0, -1.006, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  75% {
    -webkit-transform: matrix3d(0, 0.999, 0, 0, -1.002, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 0.999, 0, 0, -1.002, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  80.83% {
    -webkit-transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  91.99% {
    -webkit-transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  2.8% {
    -webkit-transform: matrix3d(0.484, 0, 0, 0, 0, 1.645, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.484, 0, 0, 0, 0, 1.645, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.2% {
    -webkit-transform: matrix3d(0.307, 0, 0, 0, 0, 1.866, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.307, 0, 0, 0, 0, 1.866, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  5.56% {
    -webkit-transform: matrix3d(0.2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  7.11% {
    -webkit-transform: matrix3d(0.26, 0, 0, 0, 0, 1.925, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.26, 0, 0, 0, 0, 1.925, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  8.61% {
    -webkit-transform: matrix3d(0.275, 0, 0, 0, 0, 1.907, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.275, 0, 0, 0, 0, 1.907, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  16.67% {
    -webkit-transform: matrix3d(0.2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  19.72% {
    -webkit-transform: matrix3d(0.205, 0, 0, 0, 0, 1.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.205, 0, 0, 0, 0, 1.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.9% {
    -webkit-transform: matrix3d(0.201, 0, 0, 0, 0, 1.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.201, 0, 0, 0, 0, 1.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25% {
    -webkit-transform: matrix3d(0.201, 0, 0, 0, 0, 1.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.201, 0, 0, 0, 0, 1.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  27.15% {
    -webkit-transform: matrix3d(0.138, 0.145, 0, 0, -1.445, 1.382, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.138, 0.145, 0, 0, -1.445, 1.382, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  27.83% {
    -webkit-transform: matrix3d(0.105, 0.171, 0, 0, -1.705, 1.045, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.105, 0.171, 0, 0, -1.705, 1.045, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.3% {
    -webkit-transform: matrix3d(0.038, 0.197, 0, 0, -1.963, 0.379, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.038, 0.197, 0, 0, -1.963, 0.379, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  30.83% {
    -webkit-transform: matrix3d(-0.006, 0.2, 0, 0, -1.999, -0.059, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(-0.006, 0.2, 0, 0, -1.999, -0.059, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  31.46% {
    -webkit-transform: matrix3d(-0.016, 0.2, 0, 0, -1.993, -0.164, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(-0.016, 0.2, 0, 0, -1.993, -0.164, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  33.61% {
    -webkit-transform: matrix3d(-0.029, 0.198, 0, 0, -1.978, -0.292, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(-0.029, 0.198, 0, 0, -1.978, -0.292, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  38.94% {
    -webkit-transform: matrix3d(-0.007, 0.2, 0, 0, -1.999, -0.073, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(-0.007, 0.2, 0, 0, -1.999, -0.073, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  39.16% {
    -webkit-transform: matrix3d(-0.006, 0.2, 0, 0, -1.999, -0.065, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(-0.006, 0.2, 0, 0, -1.999, -0.065, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.99% {
    -webkit-transform: matrix3d(0, 0.2, 0, 0, -2, 0.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 0.2, 0, 0, -2, 0.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  44.72% {
    -webkit-transform: matrix3d(0.002, 0.2, 0, 0, -2, 0.02, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.002, 0.2, 0, 0, -2, 0.02, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  49.9% {
    -webkit-transform: matrix3d(0.001, 0.2, 0, 0, -2, 0.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.001, 0.2, 0, 0, -2, 0.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  50% {
    -webkit-transform: matrix3d(0.001, 0.2, 0, 0, -2, 0.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.001, 0.2, 0, 0, -2, 0.005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    -webkit-transform: matrix3d(0, 0.611, 0, 0, -1.486, 0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 0.611, 0, 0, -1.486, 0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  54.3% {
    -webkit-transform: matrix3d(0, 0.903, 0, 0, -1.121, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 0.903, 0, 0, -1.121, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  55.83% {
    -webkit-transform: matrix3d(-0.001, 1.015, 0, 0, -0.981, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(-0.001, 1.015, 0, 0, -0.981, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  56.46% {
    -webkit-transform: matrix3d(-0.001, 1.042, 0, 0, -0.948, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(-0.001, 1.042, 0, 0, -0.948, -0.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  58.61% {
    -webkit-transform: matrix3d(0, 1.075, 0, 0, -0.907, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 1.075, 0, 0, -0.907, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  64.16% {
    -webkit-transform: matrix3d(0, 1.017, 0, 0, -0.979, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 1.017, 0, 0, -0.979, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  66.99% {
    -webkit-transform: matrix3d(0, 0.999, 0, 0, -1.001, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 0.999, 0, 0, -1.001, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  69.72% {
    -webkit-transform: matrix3d(0, 0.995, 0, 0, -1.006, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 0.995, 0, 0, -1.006, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  75% {
    -webkit-transform: matrix3d(0, 0.999, 0, 0, -1.002, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 0.999, 0, 0, -1.002, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  80.83% {
    -webkit-transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  91.99% {
    -webkit-transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  1.15% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.413, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.413, 0, 0, 1);
  }
  2.25% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.523, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.523, 0, 0, 1);
  }
  3.25% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.452, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.452, 0, 0, 1);
  }
  4.25% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.299, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.299, 0, 0, 1);
  }
  6.26% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.001, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.001, 0, 0, 1);
  }
  8.51% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.114, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.114, 0, 0, 1);
  }
  12.51% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.76% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.025, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.025, 0, 0, 1);
  }
  18.77% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  21.02% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.005, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.005, 0, 0, 1);
  }
  25.03% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  27.28% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.001, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.001, 0, 0, 1);
  }
  31.28% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  33.53% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  37.54% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  39.79% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  43.79% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  46.05% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  49.9% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  50% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.55% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.889, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.889, 0, 0, 1);
  }
  53.85% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.183, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.183, 0, 0, 1);
  }
  55.11% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.264, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.264, 0, 0, 1);
  }
  56.61% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.185, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.185, 0, 0, 1);
  }
  58.06% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.056, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.056, 0, 0, 1);
  }
  59.51% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.965, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.965, 0, 0, 1);
  }
  60.96% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.937, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.937, 0, 0, 1);
  }
  66.87% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.015, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.015, 0, 0, 1);
  }
  72.77% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.996, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.996, 0, 0, 1);
  }
  78.63% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.001, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.001, 0, 0, 1);
  }
  84.53% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1, 0, 0, 1);
  }
  90.44% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1, 0, 0, 1);
  }
  96.3% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1, 0, 0, 1);
  }
}

@keyframes vibrate {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  1.15% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.413, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.413, 0, 0, 1);
  }
  2.25% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.523, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.523, 0, 0, 1);
  }
  3.25% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.452, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.452, 0, 0, 1);
  }
  4.25% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.299, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.299, 0, 0, 1);
  }
  6.26% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.001, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.001, 0, 0, 1);
  }
  8.51% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.114, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.114, 0, 0, 1);
  }
  12.51% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.76% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.025, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.025, 0, 0, 1);
  }
  18.77% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  21.02% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.005, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.005, 0, 0, 1);
  }
  25.03% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  27.28% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.001, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.001, 0, 0, 1);
  }
  31.28% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  33.53% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  37.54% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  39.79% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  43.79% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  46.05% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  49.9% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  50% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.55% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.889, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.889, 0, 0, 1);
  }
  53.85% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.183, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.183, 0, 0, 1);
  }
  55.11% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.264, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.264, 0, 0, 1);
  }
  56.61% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.185, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.185, 0, 0, 1);
  }
  58.06% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.056, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.056, 0, 0, 1);
  }
  59.51% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.965, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.965, 0, 0, 1);
  }
  60.96% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.937, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.937, 0, 0, 1);
  }
  66.87% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.015, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.015, 0, 0, 1);
  }
  72.77% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.996, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.996, 0, 0, 1);
  }
  78.63% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.001, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.001, 0, 0, 1);
  }
  84.53% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1, 0, 0, 1);
  }
  90.44% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1, 0, 0, 1);
  }
  96.3% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1, 0, 0, 1);
  }
}

.body--restaurant {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #5b5656;
  font-family: "Oswald", sans-serif;
}

.slide {
  min-height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scrollmagic-pin-spacer {
  position: static !important;
}

.header--restaurant {
  --wtsap-bg: #171717;
  font-family: sans-serif;
  background: var(--wtsap-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em 1em;
}

.header--restaurant span {
  color: #2ca2ff;
  font-weight: 500;
  letter-spacing: 0.8px;
  font-size: clamp(0.8rem, 1vw, 1rem);
}

.whatsapp-details {
  text-align: center;
  margin-left: 2rem;
}

.date--restaurant {
  font-size: 0.6rem;
  color: white;
}

.restaurant-page1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  background: #b7c9e5;
  background-image: url(../img/main/hero.jpg);
  background-blend-mode: multiply;
  width: 100%;
  height: 50vh;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.hero-title {
  font-size: clamp(2rem, 4vw, 8rem);
  color: #e5e5e5;
  opacity: 0.8;
  letter-spacing: 4px;
  -webkit-animation: heroTitle 3s ease;
  animation: heroTitle 3s ease;
  text-transform: uppercase;
}

@-webkit-keyframes heroTitle {
  from {
    letter-spacing: 8px;
  }
  to {
    letter-spacing: 4px;
  }
}

@keyframes heroTitle {
  from {
    letter-spacing: 8px;
  }
  to {
    letter-spacing: 4px;
  }
}

.restaurant-page2,
.restaurant-page3 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.display {
  width: 100vw;
  max-width: 1000px;
  height: 40vh;
  position: relative;
}

.display-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.display-img.displayed {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  opacity: 1;
}

.img-box {
  --size: 2.5rem;
  width: var(--size);
  height: var(--size);
  z-index: 1;
  position: relative;
  cursor: pointer;
}

.food {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50px;
}

.img-border {
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 50px;
}

.img-border.active {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  background: #40bad5;
  opacity: 0.6;
  z-index: -1;
}

.food.active {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.img-pool {
  width: 100%;
  max-width: 800px;
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.restaurant-page3 {
  background: #e5e5e5;
  background-image: url(../img/main/page3.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: left;
}
/*# sourceMappingURL=mix.css.map */